<div class="multiselect-header">
  <div class="msh-label msh-source-label">{{ sourceLabel }}</div>
  <div class="msh-divider"></div>
  <div class="msh-label msh-target-label">{{ targetLabel }}</div>
</div>
<ng-container *ngIf="vm$ | async as vm">
  <div class="multiselect-body" cdkDropListGroup>
    <div class="msb-container msb-source-container">
      <app-multiselect-search
        (search)="filterSourceData($event)"
      ></app-multiselect-search>
      <cdk-virtual-scroll-viewport
        itemSize="30"
        cdkDropList
        [cdkDropListData]="vm.sourceData"
        cdkDropListSortingDisabled
        class="msb-list msb-source-list"
        tabindex="0"
        (keydown.control.a)="selectAllItemsInList($event, vm.sourceData)"
      >
        <div
          cdkDrag
          [cdkDragData]="item.sourceIndex"
          (cdkDragStarted)="dragStarted($event, vm.sourceData, item, previewCount)"
          class="msb-item msb-source-item"
          [class.selected]="item.selected"
          (click)="selectSourceItem(item.sourceIndex, $event)"
          *cdkVirtualFor="
            let item of vm.sourceData;
            trackBy: trackBySourceIndex
          "
        >
          <ng-container
            *ngTemplateOutlet="listItem; context: {$implicit: item}"
          ></ng-container>
          <div #previewCount class="msb-drag-preview-count"></div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="msb-action-buttons">
      <button
        [disabled]="vm.isDisabledMoveSelectedFromS2T"
        (click)="moveSelectedFromSourceToTarget()"
      >
        <app-svg-icon svgIcon="arrow_forward"></app-svg-icon>
      </button>
      <button
        [disabled]="vm.isDisabledMoveSelectedFromT2S"
        (click)="moveSelectedFromTargetToSource()"
        class="reverse"
      >
        <app-svg-icon svgIcon="arrow_forward"></app-svg-icon>
      </button>
      <button
        [disabled]="vm.isDisabledMoveAllFromS2T"
        (click)="moveAllFromSourceToTarget()"
      >
        <app-svg-icon svgIcon="double_arrow"></app-svg-icon>
      </button>
      <button
        [disabled]="vm.isDisabledMoveAllFromT2S"
        (click)="moveAllFromTargetToSource()"
        class="reverse"
      >
        <app-svg-icon svgIcon="double_arrow"></app-svg-icon>
      </button>
      <button
        [disabled]="vm.isDisabledMoveSelectedFromT2S"
        (click)="groupSelectedTargetItems()"
      >
        <app-svg-icon svgIcon="fold"></app-svg-icon>
      </button>
    </div>
    <div class="msb-container msb-target-container">
      <app-multiselect-search
        (search)="filterTargetData($event)"
      ></app-multiselect-search>
      <div
        cdkScrollable
        id="msbTargetContainer"
        class="msb-list msb-target-list"
      >
        <div
          class="msb-group msb-target-group"
          *ngFor="let group of vm.targetGroups; trackBy: trackByGroupIndex"
        >
          <div class="msb-group-header">
            <div class="msb-group-label">Group {{ group.index + 1 }}</div>
            <button
              (click)="removeTargetGroup(group.index)"
            >
              <app-svg-icon svgIcon="unfold"></app-svg-icon>
            </button>
          </div>
          <div
            class="msb-group-items"
            cdkDropList
            [cdkDropListData]="group.items"
            (cdkDropListDropped)="dropGroup(group.index, $event)"
            tabindex="0"
            (keydown.control.a)="selectAllItemsInList($event, group.items)"
          >
            <div
              *ngFor="let groupItem of group.items; trackBy: trackBySourceIndex"
              cdkDrag
              cdkDragLockAxis="y"
              [cdkDragData]="groupItem.sourceIndex"
              (cdkDragStarted)="dragStarted($event, group.items, groupItem, previewCount)"
              class="msb-item msb-group-item"
              [class.selected]="groupItem.selected"
              (click)="
                selectTargetGroupItem(
                  group.index,
                  groupItem.sourceIndex,
                  $event
                )
              "
            >
              <ng-container
                *ngTemplateOutlet="listItem; context: {$implicit: groupItem}"
              ></ng-container>
              <div #previewCount class="msb-drag-preview-count"></div>
            </div>
          </div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="vm.targetData"
          (cdkDropListDropped)="drop($event)"
          class="msb-target-data"
          tabindex="0"
          (keydown.control.a)="selectAllItemsInList($event, vm.targetData)"
        >
          <div
            *ngFor="let item of vm.targetData; trackBy: trackBySourceIndex"
            cdkDrag
            [cdkDragData]="item.sourceIndex"
            (cdkDragStarted)="dragStarted($event, vm.targetData, item, previewCount)"
            cdkDragLockAxis="y"
            class="msb-item msb-target-item"
            [class.selected]="item.selected"
            (click)="selectTargetItem(item.sourceIndex, $event)"
          >
            <ng-container
              *ngTemplateOutlet="
                targetItemTemplate || listItem;
                context: {$implicit: item}
              "
            ></ng-container>
            <div #previewCount class="msb-drag-preview-count"></div>
          </div>
          <div class="gap"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #listItem let-item>
  [{{ item.sourceIndex }}]: {{ item.value }}
</ng-template>

<ng-content></ng-content>
