<div style="width: 960px; margin: 60px auto 20px">
  <div style="margin-bottom: 20px">
    <button (click)="updateItems()" class="btn btn-primary">Update items</button>
    <button (click)="updateSelectedItems()" class="btn btn-primary">Update selected items</button>
  </div>
  <app-multiselect
    [sourceData]="items"
    [initialSelectedIndexes]="initialSelectedIndexes"
    (update)="updateList($event)"
    sourceLabel="Available sub-units"
    targetLabel="Selected sub-units"
  ></app-multiselect>
</div>
